body {
    margin: 20px 20px;
    width: 100%;
    height: 100%;
    font-size: 12px !important;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #96A6BF, #63738C);
    box-shadow: inset 0 0 1px 1px #5C6670;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3)
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(left, #8391A6, #536175);
}

.margeup {
    margin-left: 300px !important;
    transform: scale(0.95);
    filter: brightness(0.9);
    transition: all 0.5s;
}

.form-group,
.list-group {
    border: 1px solid #2e4ead;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

.form-group h4 {
    background: #2e4ead;
    color: white;
    width: 18vw;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-primary {
    background: #c850c0 !important;
    outline: none;
    transition: all 0.5s;
    border: none;
}

.btn-primary:hover {
    background: #2e4ead !important;
    border: none;
}

/******************************* 
** 1-NAVBAR 
*******************************/
/* navbar start */
body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin-top: -20px;
}

.sidebar {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    transition: all 0.5s ease;
}

.sidebar nav {
    font-size: 22px;
    color: white;
    line-height: 70px;
    background: linear-gradient(45deg, transparent, #2c4aa5);
    user-select: none;
}

.sidebar ul {
    margin-left: -40px;
    list-style: none;
    height: 100vh;
    background: linear-gradient(45deg, black, #2e4ead);
}

.sidebar ul li {
    text-indent: 10px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #c850c0;
    text-decoration: none;
    box-sizing: border-box;
    border-top: 1 px solid gray;
    border-bottom: 1px solid gray;
}

ul li a {
    transition: 0.2s all ease-out;
}

ul li:hover a {
    padding-left: 15px;
    background: rgb(199, 188, 188);
    /* color: red; */
    transition: 0.2s all ease-in;
}

.sidebar ul:first-child {
    padding-top: 20px;
}


.sidebar ul a i {
    margin-right: 10px;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    background: #c850c0;
    border-radius: 3px;
    transition: all 0.3s;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.3s;
}

label #cancel {
    z-index: 111;
    left: -247px;
    top: 10px;
    font-size: 30px;
    background: black;
    color: white;
    padding: 4px 9px;
    transition: all 0.3s;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

#check:checked~label #cancel {
    left: 247px;
    transition: all 0.3s;
}

#check:checked~section {
    margin-left: 250px;
    transition: all 0.3s;
}

.main-body {
    background: #eee !important;
}

section {
    background: #eee !important;
}

section#home {
    background: url(../img/georgie.jpg) no-repeat !important;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: -10px;
    z-index: 23;
    margin-left: 0px;
    transition: all .5s ease;
}

.panier-text p {
    color: #c850c0 !important;
    font-weight: 800;
    font-size: 12px
}

.panier-text a {
    color: #c850c0 !important;
}

.panier-text p i {
    color: black;
    font-size: 16px
}

nav img {
    width: 250px;
}

button[name='addCartouche'] {
    margin-bottom: 40px;
}

/* start top navbar*/
.header-wrapper .container .upper-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.compte-text,
div.panier-text {
    font-size: 10px;
}

.upper-nav {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-columns: 5fr 4fr;
}

.header-search,
.header-right-side {
    align-self: center;
    text-align: center;
    margin-top: 20px;
}

.header-img {
    padding-right: 70px;
}

.header-img img {
    margin-top: 10px;
    height: 100%;
    width: 90%;
}

.header-container-right {
    display: grid;
    grid-auto-flow: column;
    margin-top: 6px;
}

.right-inner-container {
    display: grid;
    grid-auto-flow: column;
}

.header-search input#search {
    margin-top: 15px;
    width: 50vw;
    font-size: 10px;
}

.right-inner-container p {
    margin-top: 15px;
    margin-left: 5px;
    color: #464545;
}

.topnav {
    overflow: hidden;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 15px;
    font-size: 17px;
    border: 1px solid #c7bfbf;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 18vw;
}

.topnav input[type=text]:hover,
.topnav input[type=text]:focus,
.topnav input[type=text]:active {
    border-color: #c7bfbf !important;
}

.topnav input[type=text]::placeholder {
    font-size: 10px;
    color: #757575;
}

.topnav .search-container button {
    color: #757575;
    border: 1px solid #c7bfbf;
    border-left: none;
    float: right;
    padding: 6px 10px;
    margin-top: 15px;
    margin-right: 16px;
    background: white;
    font-size: 17px;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.topnav .search-container button:hover {
    background: white;
}

/* end top navbar*/

.etab {
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5;
    overflow-y: scroll;
}

.etab.first {
    height: 60vh;
}

.dom .etab {
    height: 60vh;
}

.d input {
    width: 20%;
}

.d input[type='checkbox'] {
    width: auto;
}

.inner-etab input {
    border: none;
    border-bottom: 1px solid rgb(156, 153, 153);
    border-right: 4px solid rgb(156, 153, 153);
}

.inner-etab input.fix {
    width: 40% !important;
}

.edit {
    width: 10%;
}

a#brand,
a#color,
a#type,
a#garanty,
a#exp {
    cursor: pointer;
    color: #007bff;
}

#errorMsg {
    position: fixed !important;
    top: 80%;
    right: 5%;
    width: 20vw;
}

#successMsg {
    position: fixed !important;
    top: 80%;
    right: 5%;
    width: 20vw;
}

#successAdded {
    position: fixed !important;
    top: 80%;
    right: 5%;
    width: 20vw;
}

#successPassed {
    position: fixed !important;
    top: 80%;
    right: 5%;
    width: 20vw;
}

#warningCancel {
    position: fixed !important;
    top: 80%;
    right: 5%;
    width: 20vw;
}

#forPhp {
    position: fixed !important;
    top: 80%;
    right: 5%;
    width: 20vw;
}

body {
    overflow: hidden;
}

@keyframes bouncePush {
    20% {
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
}

/* LOADER */
@keyframes ldio-s00q76hkpb {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}

.ldio-s00q76hkpb div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-s00q76hkpb 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-s00q76hkpb div:nth-child(1) {
    border-color: #e90c59
}

.ldio-s00q76hkpb div:nth-child(2) {
    border-color: #46dff0;
    ;
    animation-delay: -0.5s;
}

.loadingio-spinner-ripple-8qkb06zpvbs {
    width: 400px;
    height: 400px;
    display: inline-block;
    overflow: hidden;
    /* background: #ffffff; */
}

.ldio-s00q76hkpb {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1.5);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-s00q76hkpb div {
    box-sizing: content-box;
}

#loader {
    position: absolute;
    top: 20%;
    left: 40%;
}